.BackGroundFont {
     background-image: url("../../assets/cards/backGroundSecondImage.png") ;;
     z-index: -1;
     background-size: auto;
     height: auto;
 }

.FirstCardInput {
    z-index: 1;
}
.BackGroundFont:after {
       content: "";
       position: absolute;
       left: 0;
       bottom: -100px;
       width: 100%;
       height: 100px; /* Высота градиента */
       background: linear-gradient(to top, rgba(131, 85, 85, 0) 0%, rgb(24, 44, 60) 100%); /* Градиентный переход */}
