.BackGroundFont:after {
  content: "";
  position: absolute;
  left: 0;
  top: -120px;
  width: 100%;
  height: 100px; /* Высота градиента */
  background: linear-gradient(
    to top,
    rgba(131, 85, 85, 0) 0%,
    rgb(24, 44, 60) 100%
  ); /* Градиентный переход */
}
