.header {
  width: auto;
}

.box {
  height: 80px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  justify-content: space-between;
  border-bottom: 2px solid white;
}

.logo_image {
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 999;
}

.menu {
  display: flex;
  align-items: center;
  font-size: 22px;
  justify-content: space-between;
  line-height: 28px;
  gap: 90px;
}

.mobile_btn {
  display: none;
}

@media (max-width: 800px) {
  .mobile_btn {
    display: block;
    position: absolute;
    right: 10px;
    top: 27px;
    cursor: pointer;
    z-index: 100000;
  }
  .close {
    color: black;
    z-index: 9999;
    right: 35vw;
    position: absolute;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: -100%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 70%;
    height: 100vh;
    backdrop-filter: blur(10px);
    z-index: 1000;
    transition: left 1s;
  }

  .active {
    left: 0;
  }

  .menu a {
    font-size: 28px;
  }
}
